@model IConnect_Training_.Net_Core_project.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want to <strong class="text-danger">delete</strong> this Appointment?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentNavigation.Type)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FirstName) @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName) @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
