@model IEnumerable<IConnect_Training_.Net_Core_project.Models.Specialization>

@{
    ViewData["Title"] = "Index";
}

<h1>Specializations List</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create A New Specialization</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializationName)
            </td>
            <td class="d-flex justify-content-center">
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
